

#map{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

.down{
	z-index: 0;
}

@keyframes slide {
	from {left: 0px; opacity: 1}
	to {left: 400px; opacity: 0}
}

.slideMap{
	animation-name: slide;
	-webkit-animation-name: slide; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 300ms; /* Safari 4.0 - 8.0 */
	animation-duration: 300ms;
}

.title{
	z-index: 10;
	top: 0;
	position: absolute;
	width: 100%;
	text-align: center;
}

.accentify{
	background-color:"#ff55be" !important;
}

.card-content{
	padding: 12px !important;
}

.modal-info{
	min-height: 200px;
	
}


.hidden{
	display: none !important;
}

#modal1{
	opacity: 0.75 !important;
}

.closeModal{
	position: fixed;
	bottom: 175px;
	left: 160px;
	
}

.fab-fixed{
	position: fixed;
	left: 0px;
	right: 0px;
	display: inline;
	bottom: 24px;
	
}

.selectarrow{
	position: fixed;
	bottom: 0;
	margin: 16px;
}

.selectarrow.right{
	right: 0;
	bottom: 12px;
	left: auto;
	text-align: right;
	display: inline;
}

.selectarrow.left{
	left: 0;
	bottom: 12px;
	right: auto;
	padding 8px;
	
}